/* Main Stylesheet 
   Imports all modules. 
*/

@import 'variables.css';
@import 'modules/base.css';
@import 'modules/animations.css';
@import 'modules/layout.css';
@import 'modules/glassmorphism.css';
@import 'modules/controls.css';
@import 'modules/inputs.css';
@import 'modules/buttons.css';
@import 'modules/tabs.css';
@import 'modules/layers.css';
